In [ ]:
# @title Setup
from google.cloud import bigquery
from google.colab import data_table
import bigframes.pandas as bpd
import pandas as pd
import datetime
import requests
import os

project = 'livil-flags-messaging-hub' # Project ID inserted based on the query results selected to explore
location = 'EU' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()

In [ ]:
from google.cloud import bigquery, storage

# Step 1: Load SQL query from GCS (.sql file)
def load_query_from_gcs(bucket_name, blob_name):
    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(blob_name)
    query = blob.download_as_text()
    return query

# Your GCS location of the .sql file
bucket_name = 'ico_user_journey_reports'
blob_name = 'user_journey_query/V12_user_journey_report.sql'

# Step 2: Read the query
sql_query = load_query_from_gcs(bucket_name, blob_name)

# Step 3: Run the query using BigQuery client
client = bigquery.Client()
job = client.query(sql_query)
job.result()  # Wait for the query to finish

# Step 4: Get the destination table (automatically created temp table)
destination = job.destination

# Step 5: Load data from a BigQuery table using BigFrames DataFrame
bq_df = bpd.read_gbq(f"{destination.project}.{destination.dataset_id}.{destination.table_id}")


bq_df = bq_df.sort_values(by='step1_first_open', ascending=False)

# Step 6: Use the dataframe
#bq_df  # Displays the BigFrames DataFrame

,user_pseudo_id,user_id,step1_first_open,step2_registers_account,step3_provides_permission,step4_connects_1_integration,step5_connects_3_integrations,step6_receives_and_opens_1st_message_or_email,step7_sends_1st_email_or_message_or_status_share,step8_receives_and_opens_10th_msg_or_email,step9_sends_5th_email_message_status_share,step14_is_active_on_day_2,step15_is_active_on_day_5,step16_is_active_on_day_10,step17_days_active_in_last_30_days
256,6C7E43EC406B4C46856C9E5A12419CD5,<NA>,2025-04-27 16:17:45,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
294,234A9A948925428D8FF7E890C63D17E9,<NA>,2025-04-25 23:25:31,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
23,4F77B544509D420680D991F204EFCFE6,dea444d59748e2be06d8676f4b1a6fbb99a0,2025-04-25 10:29:06,2025-04-25 10:29:41,2025-04-25 10:29:56,2025-04-25 10:29:48,2025-04-25 10:30:40,2025-04-25 10:40:36,2025-04-25 10:40:36,2025-04-25 12:15:32,2025-04-25 12:46:15,False,False,False,1
93,3EABB40A47B34120A215BCEE5CE25F24,d5b7fe1d9dacd53cdd8f23b2b36fde6550c2,2025-04-25 10:03:33,2025-04-25 10:04:36,2025-04-25 10:04:49,2025-04-25 10:04:40,2025-04-25 10:06:45,2025-04-25 10:05:01,2025-04-25 10:41:32,2025-04-25 10:48:31,2025-04-25 10:59:42,False,False,False,1
32,05B5D378C0FC4F79A76FD316602FB1C6,20a80d877165fefd66801684e0ca9acccdbc,2025-04-25 10:03:07,2025-04-25 10:03:47,2025-04-25 10:04:08,2025-04-25 10:03:55,2025-04-25 10:05:43,2025-04-25 10:04:18,2025-04-25 12:18:11,2025-04-25 10:36:58,2025-04-25 12:37:37,True,False,False,3
143,9DC60C872E774CE1B0F23B81A0125639,953fc5d527951ba73c55a9d5db35ec981e23,2025-04-25 09:57:17,2025-04-25 09:57:58,2025-04-25 09:58:53,2025-04-25 09:58:09,<NA>,2025-04-25 09:58:36,<NA>,<NA>,<NA>,False,False,False,1
261,DA7D9817E6684B4EA7B974446A8F0575,4b2292631d72d29ea27f8c96311cc47b6a31,2025-04-24 12:12:48,2025-04-24 12:13:54,2025-04-24 12:14:25,2025-04-24 12:14:04,<NA>,2025-04-24 12:14:32,2025-04-24 12:14:41,<NA>,<NA>,False,False,False,1
27,A45597D8D5234A7A8C671A76C67B0E99,<NA>,2025-04-24 08:42:11,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
117,2B08D7E2C68C48C688A010576D194D09,8ae1402512b43fa1073917ed960efb5c2491,2025-04-23 10:11:40,2025-04-23 10:12:04,2025-04-23 10:12:14,2025-04-23 10:12:07,<NA>,2025-04-23 10:12:27,<NA>,<NA>,<NA>,True,False,False,3
257,5D1847FFD92D459CACC8055DD4BB80AC,8ae1402512b43fa1073917ed960efb5c2491,2025-04-23 08:31:46,2025-04-23 08:32:42,2025-04-23 08:32:53,2025-04-23 08:32:45,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
79,99B6D954797E42C89754F533D20F14A4,8ae1402512b43fa1073917ed960efb5c2491,2025-04-23 07:11:11,2025-04-23 07:11:34,2025-04-23 07:11:45,2025-04-23 07:11:36,2025-04-23 07:14:10,2025-04-23 07:11:57,2025-04-23 07:13:03,<NA>,<NA>,False,False,False,1
151,CFBFDB490FFB49F4BA0A7584E632C49F,dea444d59748e2be06d8676f4b1a6fbb99a0,2025-04-23 06:02:29,2025-04-23 06:03:05,2025-04-23 06:03:19,2025-04-23 06:03:11,2025-04-23 06:03:34,2025-04-23 06:11:17,2025-04-23 06:21:54,2025-04-23 06:19:10,<NA>,False,False,False,1
279,EB5C8E9161FB4CE39C74C9C3E758D151,20a80d877165fefd66801684e0ca9acccdbc,2025-04-23 05:58:22,2025-04-23 05:58:47,2025-04-23 05:59:08,2025-04-23 05:58:58,2025-04-23 06:00:22,2025-04-23 05:59:18,2025-04-23 06:11:17,2025-04-23 06:17:20,<NA>,False,False,False,1
52,D3D5EFC8C6CC482AA0655E5AF3BF0C22,<NA>,2025-04-22 21:13:28,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
26,C2DD9A97A95B4B9E93BE2B4CD087E35E,<NA>,2025-04-22 20:47:07,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
92,912850556A89441EBD0806959427E1EE,<NA>,2025-04-22 20:41:17,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
7,4F126423CD094E8DA4FDC8E33FB19CCE,20a80d877165fefd66801684e0ca9acccdbc,2025-04-22 17:07:49,2025-04-22 17:08:11,2025-04-22 17:08:24,2025-04-22 17:08:17,2025-04-22 17:47:43,2025-04-22 17:08:37,2025-04-22 17:52:00,2025-04-22 17:52:17,<NA>,True,False,False,2
77,C93D7C7EBB8C4F91B6659ABA6F545AE9,dea444d59748e2be06d8676f4b1a6fbb99a0,2025-04-22 17:03:09,2025-04-22 17:03:40,2025-04-22 17:03:56,2025-04-22 17:03:49,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
286,D5C92AF56DDE4634A842C40EF2670A28,dea444d59748e2be06d8676f4b1a6fbb99a0,2025-04-22 16:39:41,2025-04-22 16:40:43,2025-04-22 16:40:58,2025-04-22 16:40:50,2025-04-22 16:44:09,2025-04-22 16:46:42,2025-04-22 16:46:42,<NA>,<NA>,False,False,False,1
80,43A0E3E8F520469BBDCA2380C49BF901,20a80d877165fefd66801684e0ca9acccdbc,2025-04-22 16:39:26,2025-04-22 16:39:54,<NA>,2025-04-22 16:40:03,2025-04-22 16:43:14,2025-04-22 16:44:00,2025-04-22 16:58:43,2025-04-22 16:47:54,<NA>,False,False,False,1
296,B2195355EDE04590BD3C06F85FC9AB00,20a80d877165fefd66801684e0ca9acccdbc,2025-04-22 15:28:28,2025-04-22 15:28:59,2025-04-22 15:29:19,2025-04-22 15:29:06,2025-04-22 15:29:53,2025-04-22 15:29:27,2025-04-22 15:34:50,2025-04-22 15:29:54,<NA>,False,False,False,1
216,F136423B8D6B48C98EA43864457F8E03,85fbbcd4e8777b81aa9fd48b83306d5d2d88,2025-04-22 10:01:36,<NA>,2025-04-22 10:03:26,2025-04-22 10:03:16,2025-04-22 10:04:01,2025-04-22 10:03:37,2025-04-22 10:04:42,2025-04-22 11:10:17,<NA>,True,False,False,3
96,A750975D4A5849FA81922BAABD64414B,1b570e77a0e2675576503975814ddd1bce8a,2025-04-22 09:42:24,2025-04-22 09:42:51,2025-04-22 09:43:08,2025-04-22 09:42:55,2025-04-23 06:25:05,2025-04-22 09:43:18,2025-04-22 09:43:35,2025-04-23 06:25:45,2025-04-22 09:44:30,True,True,False,6
19,8D1367CC827343F7BA5AF51E68F276FC,63fa11f24251201e0066061374626c9792fa,2025-04-22 09:38:36,2025-04-22 09:39:16,2025-04-22 09:42:20,2025-04-22 09:40:01,2025-04-22 09:42:53,2025-04-22 09:42:31,2025-04-22 09:43:28,<NA>,<NA>,False,False,False,1
50,70DF66EE8034489BA97B3543D8DC1A2E,8ae1402512b43fa1073917ed960efb5c2491,2025-04-22 07:54:26,2025-04-22 07:55:19,2025-04-22 07:56:20,2025-04-22 07:55:23,2025-04-22 07:58:34,2025-04-22 07:55:48,<NA>,<NA>,<NA>,True,False,False,2

In [ ]:
# Convert BigQuery DataFrame to pandas DataFrame.
pandas_df = bq_df.to_pandas()

In [ ]:
now = datetime.datetime.now()
timestamp_str = now.strftime("%Y-%m-%d_%H-%M")
today_date = now.strftime("%Y-%m-%d")
file_name = f"User_Journey_Report_{timestamp_str}.xlsx"
pandas_df.to_excel(file_name, index=False)

In [ ]:
!pip install slack-sdk==3.35.0

In [ ]:
# Slack details
slack_token = ''
channel_id = ''

In [ ]:
from slack_sdk import WebClient
from slack_sdk.errors import SlackApiError

In [ ]:
def upload_file_to_slack(token, channel_id, file_path, title, today_date):

    client = WebClient(token=token)

    try:
        response = client.files_upload_v2(
            channel=channel_id,
            file=file_path,
            title=title,
            initial_comment=f"*From scheduler Here is the User Journey Report* üìä"
        )
        permalink = response["file"]["permalink"]
        print(f"‚úÖ File uploaded successfully: {permalink}")
        return permalink

    except SlackApiError as e:
        print(f"‚ùå Error uploading file: {e.response['error']}" )
        return None

In [ ]:
upload_file_to_slack(slack_token, channel_id, file_name, file_name, today_date)